body {
    background-color: #f0f4f8;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
.loading {
    width: 5rem;
    height: 5rem;
    border: 6px solid gray;
    border-radius: 50%;
    border-top-color: #43d8a2;
    animation: spinner 1s linear infinite;
}
.loading-center {
    margin: 0 auto;
}
